/* boarder box fix */
html {
box-sizing: border-box;

}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* end of boarder fix */

body {
 background-color: #f6f3ec;
padding: 0;
margin:1;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.wrapper{
background: #bdfffc;
display: grid;
grid-template-columns: repeat(12, minmax(0, 1fr));
width: 80%;
margin:0 auto;

}
.image-box {
  text-align: center;
}

nav h2 {
  text-decoration: underline;
}
main h2 {
  text-decoration: underline;
}
.underline-me {
    color: #4d7b80;
    text-decoration: underline;
}
aside h2 {
  text-decoration: underline;
}
.wrapper>* {
    padding: 20px;
}

header {
    text-align: center;
    background: #cee6ff;
grid-column: 1/13;
}


nav {
    text-align: center;
background: #abf8c9;
grid-column: 1/4;
}

main {
    text-align: center;
background-color: #8be391;
grid-column: 4/10;
}
p{
    text-align: justify;
}
.center-me-only{
    text-align: center;
}
aside {
    text-align: center;
background-color: #dbffa2;
grid-column: 10/13;
}

main, nav, aside{
    grid-row: 2/4;
}
a {
  text-decoration: none;
  color:#000000;
}

a:hover {
  text-decoration: none;
  color: #ff5cff;
}

h1 {
 color: cornflowerblue;
 font-family: fantasy;

}

h2 {
color: #6cabb2;
font-family: monospace;

}

.not-you{
    text-align: center;
}
footer {
 background: #a7bbf7;   
grid-column: 1/13;
}